:root {
    --color-main: #093B99;
    --color-primary: #001AC1;
    --color-error: #DE0004;
    --color-grey: #767676;
    --color-body: #222222;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-C01: #F2F2F2;
    --color-C02: #9298BA;
    --color-C03: #DFE3FF;
    --color-C04: #EBEDFF;
    --box-shadow: 0px 4px 20px 0px #92929240;
    --box-shadow_1: 0px 4px 16px 0px #7084E740;
    --box-shadow_2: 4px 0px 16px 0px #3E46DFA3;
}